<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEVA</title>
    <link rel="stylesheet" href="../static/css/AAA-styles.css">
  </head>
  <body>
    <header>
      <a href="#"
        ><img src="../static/img/uca-logo.png" alt="seva-img" id="seva-img">
        </a>
      <a href="/" id="texto-nav">SEVA</a>
    </header>
    <nav class="t-user">
      <h1 id="h1-user">Tipo de usuario</h1>
      <button class="btn-index" id="btn-log_in-a" onclick="window.location.href='/login_a'">ALUMNO</button>
      <button class="btn-index" id="btn-log_in-prof" onclick="window.location.href='/login_profe'">PROFESOR</button>
      <button class="btn-index" id="btn-log_in-adm" onclick="window.location.href='/login_adm'">ADMINISTRADOR</button>
    </nav>
  </body>
</html>
