<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEVA</title>
    <link rel="stylesheet" href="../static/css/AAA-styles.css" />
</head>
<body class="home-body">
    <header>
        <div class="left-section">
            <a href="#">
                <img src="../static/img/uca-logo.png" alt="seva-img" id="seva-img" />
            </a>
            <a href="/inicio_alumno" id="texto-nav">SEVA</a>
        </div>
        <div class="right-section">
            <a href="/perfil-alumno" id="perfil-nav">Mi perfil</a>
        </div>
    </header>
    <div class="main-content-home">
        <h1 class="txt-bienv">Bienvenido al SEVA</h1>
        <div class="dashboard">
            <div class="card">
                <h2>Inscribirse a materias</h2>
                <button class="btn-dashboard" onclick="location.href='/materias-alumno'">Ver Materias</button>
            </div>
            
            
            <div class="card">
                <h2>Perfil</h2>
                <p>Gestiona tus datos personales y reservas.</p>
                <button class="btn-dashboard" onclick="location.href='/perfil-alumno'">Ir a Mi Perfil</button>
            </div>
            <div class="card">
                <h2>Historia del SEVA</h2>
                <p>Conoce la historia y misión de SEVA y cómo ha evolucionado.</p>
                <button class="btn-dashboard" onclick="location.href='#historia-seva'">Leer Más</button>
            </div>
        </div>
    </div>
    <section id="historia-seva" class="historia-section">
        <div class="historia-container">
            <h2>Historia del SEVA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur metus in quam blandit, non convallis dolor varius. Phasellus vitae lacinia purus, non blandit libero. Aliquam erat volutpat. Fusce dapibus leo eu lorem vestibulum, et tincidunt libero suscipit. Integer in tincidunt sapien. Donec a odio risus. Vivamus id neque ut nisi pretium interdum. Integer id libero nec lectus dapibus posuere.</p>
            <p>Mauris vehicula eros sit amet erat facilisis, non fermentum libero sagittis. Etiam suscipit purus id ipsum fringilla, non interdum quam venenatis. Aenean condimentum metus vel libero consequat, a auctor purus congue. Vivamus malesuada nulla nec leo fermentum, vel aliquam leo dignissim. Curabitur lacinia purus vel lectus ullamcorper, at blandit nunc fermentum. Sed at nunc vitae elit lacinia consectetur non id purus. Suspendisse tincidunt fermentum nunc, nec facilisis arcu malesuada non.</p>
            <img src="../static/img/img-placeholder.jpg" alt="" class="img-historia">
            <p>Sed scelerisque lectus sit amet libero tincidunt, ac sodales urna suscipit. Integer ultrices lacinia efficitur. Fusce ac leo felis. Nullam tincidunt odio id sem aliquet gravida. Quisque sed nisi a odio tincidunt sodales. Sed interdum ultricies varius. Sed consequat, magna nec placerat blandit, neque nulla cursus lorem, nec interdum purus dolor ac urna.</p>
            <p>In hac habitasse platea dictumst. Vestibulum nec nulla vel purus dapibus suscipit. Morbi sollicitudin massa at dui posuere, et dictum dolor aliquam. Duis ac sapien id dolor vehicula tincidunt. Nunc auctor, lectus nec iaculis consequat, nisi nulla fermentum nunc, et consectetur libero sem ut lacus. Suspendisse convallis finibus ligula, non hendrerit ipsum pretium nec. Curabitur vitae fermentum felis. Nam id leo libero.</p>
            <p>Ut scelerisque sit amet turpis at faucibus. Morbi sodales dui et lorem suscipit, sit amet porttitor dui pellentesque. Aliquam erat volutpat. Sed convallis libero id nibh scelerisque, et consequat risus egestas. Quisque nec aliquam massa. Aenean ac tincidunt mi. Fusce luctus volutpat ipsum, non ullamcorper nunc gravida ac.</p>
        </div>
    </section>
</body>
</html>
