<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEVA</title>
    <link rel="stylesheet" href="../static/css/AAA-styles.css" />
  </head>
  <body class="f-container">
    <header>
      <a href="#"
        ><img src="../static/img/uca-logo.png" alt="Imagen" id="seva-img"
      /></a>
      <a href="/" id="texto-nav">SEVA</a>
    </header>
    <nav class="log-in">
      <h1 id="h1-user">SIGN IN</h1>

      {% if param and param.error_msj_login %}
        <div class = 'errorlogin'>
          {{ param.error_msj_login }}
        </div>
      {% endif %}
      
      <form id = "login-adm" action="/login_adm" method="POST">
        <input type="email" name="email" placeholder="nombre@uca.edu.ar"/>
        <input type="password" name="password" placeholder="Contraseña"/>
        <input type="text" name="legajo" placeholder="Código de administrador"/>
        <button type="submit">Siguiente</button>
      </form>
      
    </nav>
  </body>
</html>
